# Ignorer les environnements virtuels
venv/
rasa_chatbot/venv/

# Ignorer les caches Python
__pycache__/

# Ignorer les dépendances Node.js
node_modules/

# Ignorer les fichiers d'environnement
.env
.env.local
.env.development.local
.env.production.local

# Ignorer les fichiers temporaires
.DS_Store
.vscode/
