# API
fastapi
uvicorn[standard]

# Validation
pydantic
python-dotenv

# Redis
redis[asyncio]
pymongo

# PostgreSQL
psycopg2-binary

# ChromaDB + embeddings
chromadb
openai

# Détection de langue
langdetect
